.header {
  margin: 0 auto;
  padding: 0;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1120px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (max-width: 960px) {
  .header {
    width: 93.75%;
  }
}


@media screen and (max-width: 540px) {
  .header {
    width: 90%;
  }
}
