.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}
@media screen and (max-width: 1120px) {
  .place__url-heading{
    max-width: 456px;
  }
}
 @media screen and (max-width: 960px) {
  .place__url-heading {
    max-width: 352px;
    line-height: 12px;
  }
}
@media screen and (max-width: 540px) {
  .place__url-heading {
    max-width: 288px;
  }
}
